@import "slick.less";
@import "slick-theme.less";

/*@import url(http://uk.allfont.net/allfont.css?fonts=arial-narrow);*/

@mycolor-gray: #5A6465;
@mycolor-gray-subscribe: #505050;
@mycolor-gray-header-link: #7E7E7E;
@mycolor-orange-bold: #FF7E00;
@mycolor-orange: #FFA800;
@mycolor-orange-header-link: #FFAA00;
@mycolor-white: #FFFFFF;
@mycolor-blue:#335F9B;
/*
.slick-prev.slick-arrow{
  background-color: @mycolor-gray;
}
.slick-next.slick-arrow{
  background-color: @mycolor-gray;
}
*/
/* стрілки */
.navigation .level0.parent > .level-top > .ui-menu-icon{
  display: none;
}
.copyright{
  text-align:left;
  background-color:#F3F3F3;
  color:@mycolor-gray;
  font-size: 1.5rem;
  border:1px solid #E2E2E2;
}
/* footer links */
.footer.content {
  padding-left: 0;
  .links {
    padding-right: 0!important;
    margin-left: 10px;
  }
  .block{
    margin-right: 10px;
    margin-top: 14px;
  }
}

/* newsletter */
.block.newsletter {
  display: inline-block;
  width: 24%; /* 30px */
  margin-right: 10px;
  .action.subscribe{
    border-radius: 0;
    text-transform: uppercase;
    background: @mycolor-gray-subscribe;
    border: 1px solid @mycolor-gray-subscribe;
    padding-left: 28px;
    padding-right: 28px;
    margin-left: 0;
  }
  .form.subscribe{
    display: inherit;
    width: 97%;
  }
  .title{
    display: inherit;
  }
  .field .control:before{
    content: none!important;
  }
  input{
    padding-left: 10px;
  }
}
.field.newsletter{
  margin-bottom: 10px!important;
  margin-top: 20px!important;
}
.block .title strong{
  font-size: 1.3rem;
}


  .social.links {
    list-style-type: none;
    float:left;
    a i{
      background: #A1A1A1;
      color: #fff;
      width: 34px;
      height: 26px;
      border-radius: 20px;
      font-size: 20px;
      text-align: center;
      margin-right: 8px;
      padding-top: 15%;
    }
}
/* header */
.block-search{
  float:left;
  margin-top: 25px;
}
.page-header .panel.wrapper{
  display: none;
}
.header.content{
  padding-top: 5px;
  .logo{
    display: inline-block;
    margin-bottom: 0!important;
    padding-bottom: 0!important;
    margin-left: 12%;
    margin-top: 5px;
    margin-right: 10px;
    float: none;
    /*padding: 5px*/;
    img{
      width: 200px;
    }
  }
}
.header.links{
  list-style-type: none;
  float:right;
  margin-top: 25px;
  margin-bottom: 0;
  padding-left: 0;
    li:nth-child(1){
      color: @mycolor-gray-header-link;
      margin-bottom: -2px;
      font-size: 1.4rem;
      /*margin-left: 54px;*/
    }
    li:nth-child(2), li:nth-child(3){
      display: inline-block;
     a{
       color: @mycolor-orange-header-link;
     }
  }
}
/* Sign in or */
.header.links li:nth-child(2):after{
  content:" or ";
  color:@mycolor-gray;
}

/* fix unicode in minicart f291 F07A f290*/
.minicart-wrapper{
  margin-top: 15px;
  margin-right: 20px;
  a:before{
    /*content: url('../images/shoppingcart.png')!important;
    color:@mycolor-gray;
    font-size: 3rem;*/
  }
}
.minicart-wrapper .action.showcart:before{
  content: url('../images/shoppingcart.png')!important;
}

/* Home page foto */
.home_page_foto_one{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 13px;
  p{
    position: absolute;
    top: 54%;
    left: 72%;
    border: 1px solid @mycolor-gray;
    padding: 10px 50px;
    font-size: 12px;
}
  img{
    width: 100%;
  }
}
.home_page_foto_some{
  width: 100%;
  height: 420px;
}
.home_page_foto_two{
  width: 48%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  margin-right: 20px;
  p{
    position: absolute;
    top: 85%;
    left: 5%;
    border: 1px solid @mycolor-white;
    padding: 10px 50px;
    font-size: 12px;
  }
  img{
    width: 100%;
    height: 100%;
  }
}
.home_page_foto_three{
  width: 100%;
  height: 47%;
  margin: 5px 5px 21px 0;
  img{
    width: 100%;
    height: 100%;
  }
}
.home_page_foto_five{
  width: 47%;
  height: 48%;
  display: inherit;
  vertical-align: top;
  margin-right: 20px;
  img{
    width: 100%;
    height: 100%;
  }
}
.home_page_foto_four{
  width: 49%;
  height: 48%;
  display: inherit;
  img{
    width: 100%;
    height: 100%;
  }
}

/* Products */
.actions-primary{
  button{
    background-color: @mycolor-orange!important;
    border: 1px solid @mycolor-orange!important;
    text-transform:uppercase;
  }

}
.actions-primary button:hover{
  background-color: @mycolor-orange-bold!important;
  border: 1px solid @mycolor-orange-bold!important;
}

  /* media */
@media (min-width: 320px) and (max-width: 550px) {
  .footer.content {
    ul{
      padding-left: 40px!important;
    }
    .links{
      display: inherit!important;
    }
  }
  .block.newsletter {
    width: 100%!important;
  }
  .home_page_foto_some{
    height: 180px;
  }
  .home_page_foto_one{
    p{
      font-size: 6px;
      padding: 4px 10px;
      left: 70%;
    }
  }
  .home_page_foto_two{
    margin-top: -1px;
    margin-right: 3px;
    width: 48%;
    p{
      font-size: 5px;
      padding: 4px 10px;
    }
  }
  .home_page_foto_three{
    margin:-1px 5px 4px 0;
  }
  .home_page_foto_five{
    margin-right: 1px;
    width: 48%;
  }
  .block-search{
    display: none;
  }
  .header.content .logo{
    margin-left: 30%;
    margin-right: 30%;
  }
  .minicart-wrapper{
    margin-top: -5px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .avatar {
    vertical-align: top!important;
    margin-top: 0!important;
    margin-left: 0!important;
  }
  .header.links{
    margin-top: 8px;
    margin-bottom: 0;
    padding-left: 0;
    display: inline-block;
    float: inherit;
    font-size: 1.2rem;
    li:nth-child(1){
      font-size: 1.2rem;
    }
  }
 }
@media (min-width: 551px) and (max-width: 767px) {
  .block.newsletter {
    width: 70%!important;
  }
  .home_page_foto_some{
    height: 260px;
  }
  .home_page_foto_five{
    width: 48%;
  }
  .home_page_foto_one{
    p{
      left: 70%;
      padding: 8px 24px;
    }
  }
  .home_page_foto_two{
    width: 48%;
    p{
      padding: 8px 24px;
    }
  }
  .header.content{
    .logo{
      margin-left: 30%;
      margin-right: 30%;
    }
  }
  .header.links{
    margin-top: 8px;
    display: inline-block;
    float: inherit;
  }
  .minicart-wrapper{
    margin-top: -5px;
  }
  .block-search{
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 809px) {
  .footer.content{
    ul{
      padding-right: 10px!important;
    }
  }
  .home_page_foto_some{
    height: 280px;
  }
  .home_page_foto_two{
    width: 49%;
    margin-top: 2px;
    margin-right: 3px;
  }
.home_page_foto_three{
  margin: 2px 5px 6px 0!important;
}
.home_page_foto_four{
    width: 49%;
  }
  .home_page_foto_five{
    margin-right: 3px;
    width: 49%;
  }
  .home_page_foto_one{
    p{
      left: 70%;
    }
  }
  .header.content{
    .logo{
      margin-left: 0;
      margin-right: 3px;
    }
  }
  .block-search{
    width: 215px;
  }
  .avatar{
    margin: 0!important;
  }
  .minicart-wrapper{
    margin-right: 5px;
  }
  .header.links{
    font-size: 1.2rem;
    li:nth-child(1){
      font-size: 1.2rem;
    }
  }
}
@media (min-width: 810px) and (max-width: 910px) {
  .footer.content{
    ul{
      padding-right: 25px!important;
    }
  }
  .home_page_foto_some{
    height: 320px;
  }
  .home_page_foto_two{
    width: 48%;
  }
  .home_page_foto_five{
    width: 48%;
    margin-right: 8px;
  }
}
@media (min-width: 911px) and (max-width: 1022px) {
  .footer.content{
    ul{
      padding-right: 40px!important;
    }
  }
  .home_page_foto_five{
    width: 49%;
    margin-right: 5px!important;
  }
  .home_page_foto_two{
    margin-right: 5px;
  }
}
@media (min-width: 1023px) and (max-width: 1200px) {
  .footer.content{
    ul{
      padding-right: 70px!important;
    }
  }
  .home_page_foto_one, .home_page_foto_two {
    p{
      padding: 10px 30px;
    }
  }
  .home_page_foto_five, .home_page_foto_two{
    margin-right: 6px;
  }
  .header.content{
    .logo{
      margin-left: 12%;
    }
  }
  .avatar{
    margin-left: 5%!important;
    padding-left: 6px;
  }
}
@media (min-width: 1201px) and (max-width: 1439px) {
  .footer.content{
    li:nth-child(1) ul {
      padding-right: 148px !important;
    }
    li:nth-child(2) ul{
      padding-right: 166px !important;
    }
    li:nth-child(3) ul{
      padding-right: 120px !important;
    }
  }
  .header.content{
    .logo{
      margin-left: 20%;
    }
  }
  .avatar{
    margin-left: 14%!important;
    padding-left: 6px;
  }
}

@media (min-width: 1440px) and (max-width: 2560px) {
  .footer.content {
    li:nth-child(1) ul {
      padding-right: 148px !important;
    }
    li:nth-child(2) ul{
      padding-right: 166px !important;
    }
    li:nth-child(3) ul{
      padding-right: 120px !important;
    }
  }

  /*li:nth-child(2)*/

  .home_page_foto_some {
    height: 460px;
  }

  .home_page_foto_five, .home_page_foto_two {
    margin-right: 20px;
  }

  .header.content {
    .logo {
      margin-left: 18%;
    }

    .avatar {
      margin-left: 16%;
      padding-left: 8px;
    }
  }
}
/* check after Yura`s remarks  it`s here and previously 22-04-2019*/
.navigation {
  max-width: 2560px;
  font-size: 13px;
  font-weight: 600;

  .level0 {
    ul {
      li {
        text-align: left;
        a {
          color: @mycolor-gray;
        }
      }
    }
  }
}
.avatar{
  vertical-align: top;
  margin-top: 20px;
  margin-left: 20%;
}
/* navigation try orange line after hover */
.navigation .level0 > .level-top{
  color:@mycolor-white;
  line-height:40px;
  :hover{
    color:@mycolor-white;
    border-color: #ff5501;
    border-style: solid;
    border-width: 0 0 3px;
    padding-bottom: 7px;
  }
}
.navigation .level0 > .level-top.ui-state-focus{
  color:@mycolor-white;
}
.navigation .level0.active > .level-top{
  color: @mycolor-white;
}
.navigation .level0 .submenu{
  background: @mycolor-white;
  border: 1px solid @mycolor-white;
  text-align: left;
  color: @mycolor-gray;
  /*font-weight: bold;*/
  min-width: 150px;
  font-size: 12px;
  font-weight: 600;
  a:hover{
    background: @mycolor-white;
  }
}
.navigation{
  text-align: center;
  text-transform: uppercase;
  background-color: @mycolor-gray;
}
/* arrows submenu */
.navigation .level0 .submenu li.parent > a > .ui-menu-icon{
  display: none;
}

/* check after Yura`s remarks  it`s here and previously 11-05-2019*/
.sections.nav-sections{
  margin-bottom: 15px;
}
.navigation .level0.submenu{
  font-size: 13px;
  .level1.nav-2-1, .level1.nav-3-1,.level1.nav-4-1{
      a{
        padding-top: 15px;
        padding-bottom: 1px;
      }
    }
  .level1.nav-2-2, .level1.nav-3-2, .level1.nav-4-3{
      a{
        padding-top: 1px;
        padding-bottom: 15px;
      }
    }
  .level1.nav-4-2{
    a{
      padding-top: 1px;
      padding-bottom: 1px;
    }
  }

}
/* searsh */
.block-search .action.search:before{
  content: url('../images/searsh.png')!important;
  padding-top: 2px;
}
/* minicart */
.minicart-wrapper .action.showcart .counter.qty {
  background: #ffa800;
  color: #ffffff;
  height: 17px;
  line-height: 16px;
  border-radius: 16px;
  display: inline-block;
  margin: 16px -25px 0px;
  min-width: 12px;
  overflow: hidden;
  padding: 0px 3px;
  text-align: center;
  white-space: normal;
}
.minicart-wrapper .action.showcart .counter-number{
  text-shadow: none;
}
.minicart-wrapper .action.showcart .counter.qty.empty{
  display: inherit;
}
/* products reviews */
.product-reviews-summary{
  display: none;
}
.product-image-container{
  width: 400px!important;
  max-width: none;
  img{
    width: 400px!important;
    margin-left: -55px!important;
  }
}
/* space between slider and footer */
.page-main .block{
  margin-bottom: 10px;

}
.product-item-name > a:hover{
  text-decoration: none;
  color:@mycolor-blue;
}
.footer.content .links a:hover{
  text-decoration: none;
  color:@mycolor-blue;
  font-weight: 600;
}
.product-item-name a{
  font-weight: 600;
  font-size: 1.7rem;
}
/* arrows products */
.slick-prev{
  left: -35px;
  top:40%;
  :hover{
    border: none;
  }
}
.slick-next{
  right: -10px;
  top:40%;
  :hover{
    border: none;
  }
}
.slick-prev:before{
    content: url('../images/arrow_left.png')!important;
}
.slick-next:before{
    content: url('../images/arrow_right.png')!important;
}

.slick-track{
  width: 7480px!important;
}
.slick-slide{
  width: 310px;
  margin-right: 4px;
}
.slick-dots{
  display: none!important;
}
.block.widget .products-grid .product-item{
  margin-bottom: 0!important;
}
.custom_naw_title{
  margin-top: 6px!important;
  margin-bottom: 14px!important;
}

/* Testimonials */
.sidebar.sidebar-additional{
  display: none;
}
#testimonials-test-form{
  width:40%;
  margin-top:5%;
  float:right;
}
.page-layout-2columns-left .column.main{
  width: 100%;
}

/* content: url('../images/searsh.png')!important; */
